__pycache__/
Chubb/
data/
# dev.env
env_vars
Ocr_process_API.ipynb
.ipynb_checkpoints/
app1.py
app2.py
app3.py
appnew.py
manualUploadskeleton.py
sagg.py
saggold.py
config/envs/dev.env
config/envs/preprod.env
config/envs/prod.env
config/envs/test.env
config/envs/uat.env
test.py
motorconnectiontest.py
azure-pipeline.yaml
saggbackupskeleton.py
src/extract_txt_with_styling_info_from_pdf.py
src/simple_v1.py
src/streamer.py
src/__init__1.py
base_endorsement_documents
declaration_documents
merged_documents

